<br><% @products.each do |product| %>
<div class="column">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="product-title">
        <%= link_to product.name, "" %>
      </div>
      <div class="product-body">
        <img src="laptop.jpg">
        <big><%= truncate(product.desciption, length: 100) %></big>
        <div class="product-meta-details">

        Wishlist by: <%= product.wish_count %>,In-cart :<%= product.buy_count %>
        </div>
      </div>
      <div class="product-actions">
        <%= link_to 'Add to wishlist',"#",class: "btn btn-xs btn-primary" %>
        <%= link_to 'Add to cart',"#",class: "btn btn-success btn-xs" %>
      </div>

<% end %>
    </div>
  </div>
</div>
